<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
<title>Consulta de Produtos</title>
</head>
<body>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">
			<br>
			<div class="titulo-consulta">
				<h1>Consulta de Produtos</h1>
			</div>

			<div th:if="${msgSucesso != null}" th:text="${msgSucesso}" class="alert alert-success" role="alert"></div>
				<!--código omitido-->
				<br>
				<div style="text-align: right">
					<a href="estoquista/Novo" class="btn btn-success">Adicionar
						Produto</a>
				</div>
				<table class="table table-borderless table-condensed">
					<thead class="bg-light">
						<tr>
							<th class="text-center">Código</th>
							<th class="text-center">Descrição</th>
							<th class="text-center">Preço</th>
							<th class="text-center">Qtde</th>
							<th class="text-center" colspan="3">Ações</th>
						</tr>
					</thead>
					<tr th:each="game: ${games}">
						<td class="text-center" th:text="${game.codigo_produto}" />
						<td class="text-center" th:text="${game.descricao}" />
						<td class="text-center" th:text="${game.preco_venda}" />
						<td class="text-center" th:text="${game.quantidade}" />
						<td class="text-center">
							<form  th:action="@{/estoquista/} + ${game.id_produto}"
								th:method="get">
								<button class="btn btn-outline-info btn-sm" type="submit"
									value="submit">Atualizar</button>
							</form>
						</td>
						<td class="text-center">
							<form action="#"
								th:action="@{/estoquista/Visualizar/} + ${game.id_produto}"
								th:method="get">
								<button class="btn btn-outline-info btn-sm" type="submit"
									value="submit">Visualizar</button>
							</form>
						</td>
						<td class="text-center">
						
								
								
								<a class="btn btn-outline-danger btn-sm" data-toggle="modal"
									data-target="#modal-warning"
									th:attr="data-target='#modal-warning'+${game.id_produto}"><span class="oi oi-brush" title="Remover"
										aria-hidden="true">Remover</span> </a> 





							<div class="modal modal-warning fade in"
								th:id="modal-warning+${game.id_produto}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Remover Produto</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Deseja realmente remover o produto?</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-dark"
												data-dismiss="modal">Fechar</button>
											<a type="button" class="btn btn-danger"
												th:href="@{/estoquista/deletar/{id_produto}(id_produto=${game.id_produto})}"><i
												class="fa fa-check"></i>&nbsp;Sim</a>
										</div>
									</div>
								</div>
							</div></td>
					</tr>
				</table>

			</div>

	</section>

</body>
</html>