<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
	
	
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
<div class="titulo-cadastroProduto">
			<h2>Cadastro de Produtos</h2>
		</div>
    <div class="container">

		<form action="#" th:action="@{/estoquista/Novo}" enctype="multipart/form-data" th:object="${produto}" method='POST'>
           
                        <br>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nome Produto: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input class="form-control w-50" placeholder="Exemplo: Ps5, Ps2" th:field="*{descricao}" id="descricao"
                                        type="text" required style="text-align:center">
                                </div>
                            </div>
                        </div>

	    					 <!-- Codigo  -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Código do Produto: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                    <input placeholder="Digite o código do item" th:field="*{codigo_produto}" id="codigo_produto"
                                        class="form-control" type="text" required style="text-align:center">
                                </div>
                            </div>
                        </div>
	
                        <!-- Preço de Custo-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Preço de Custo: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    <input name="preco_custo" placeholder="Preço de Custo" class="form-control" th:field="*{preco_custo}" id="preco_custo"
                                        type="number" required style="text-align:center">
                                </div>
                            </div>
                        </div>

                        <!-- Preço de venda-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Preço de Venda: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    <input name="preco_venda" placeholder="Preço para venda" class="form-control" th:field="*{preco_venda}" id="preco_venda"
                                        type="number" required style="text-align:center">
                                </div>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-md-4 control-label">Descrição Detalhada: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                    <input placeholder="Digite a Descrição do Item" th:field="*{descricao_detalhada}" id="descricao_detalhada"
                                        class="form-control" type="text" required style="text-align:center">
                                </div>
                            </div>
                        </div>


                        <!-- Quantidade -->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Quantidade: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-sort-by-attributes"></i></span>
                                    <input name="quantidade" placeholder="Quantidade Dísponivel" class="form-control" th:field="*{quantidade}" id="quantidade"
                                        type="number" required style="text-align:center">
                                </div>
                            </div>
                        </div>
                        <!--imagens-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Endereço Imagem: </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-sort-by-attributes"></i></span>
                                    <input type="file" name="file"  required />
                                </div>
                            </div>
                        </div>

               

          <hr>       
            <div class="form-group">
            <button type="submit" value="submit" class="btn btn-outline-success">Cadastrar</button>
            <button type="button" id="visualizar" class="btn btn-outline-secondary" onclick="visualizarProduto();">Visualizar</button>
			<button class="btn btn-outline-info" type="reset" value="Reset" onclick="const myNode = document.getElementById('lista-imagens');myNode.innerHTML = ''; const myNode2 = document.getElementById('lista-pr');myNode2.innerHTML = '';">Resetar</button>

</form>
</div>
</section>
	
</body>

</html>
