<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>

<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>Consulta dos seus pedidos</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">
			<br>
			<div class="titulo-consulta">
				<h1>Consulta dos pedidos</h1>
			</div>

			<div th:if="${msgSucesso != null}" th:text="${msgSucesso}"
				class="alert alert-success" role="alert"></div>


			<!--código omitido-->

			<br>
			<table class="table table-borderless table-condensed">
				<thead class="bg-light">
					<tr>
						<th class="text-center">Numero do Pedido</th>
						<th class="text-center">Total do Pedido</th>
						<th class="text-center">Data da Compra</th>
						<th class="text-center">Forma de pagamento</th>
						<th class="text-center">Status</th>
					</tr>
				</thead>



				<form action="#" th:object="${Pedido}"
					th:action="@{/estoquista/alterarPedido/} +  ${Pedido.idPedido}"
					th:method="put">

					<tr>
						<td class="text-center" th:text="${Pedido.numeroPedido}" />
						<td class="text-center" th:text="${Pedido.totalPedido}" />
						<td class="text-center" th:text="${Pedido.dtCompra}" />
						<td class="text-center" th:text="${Pedido.formaPagamento}" />
						<td for="select" class="text-center" text="" />


						<select class="form-control" th:field="*{status}" id="status"
							required>
							<option value="Pagamento Rejeitado">Pagamento Rejeitado</option>
							<option value="Pagamento com Sucesso">Pagamento com
								Sucesso</option>
							<option value="Aguardando Retirada">Aguardando Retirada</option>
							<option value="Em trânsito">Em Trânsito</option>
							<option value="Entregue">Entregue</option>



						</select>

						<button type="submit" value="submit"
							class="btn btn-outline-success">Alterar</button>
					</tr>
				</form>

				</tbody>
			</table>

		</div>

	</section>

</body>
</html>