<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
<title>Carrinho</title>
</head>
<body>	
	<section class="layout-content" layout:fragment="corpo">
		<div class="container pb-5 mt-n2 mt-md-n">
			<div class="row">
				<div class="col">
					<h2
						class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary">
						<span>Produtos</span><a class="font-size-sm" href="/"><svg
								width="24" height="24" viewBox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-chevron-left pull-right"
								style="width: 100%; height: 1rem;">
								</svg></a>
					</h2>
					<!-- Item-->
					<div th:each="item: ${listItens}"
						class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
						<div class="media d-block d-sm-flex text-center text-sm-left">
						<a class="cart-item-thumb mx-auto mr-sm-4" href="#"> <img
								th:src="@{/carrinho/mostrarImg/{imagem}(imagem=${item.table_Produtos.endereco_imagem})}"
								alt="Product"></a>
							
							<div class="media-body pt-3">
							
								<div th:text="'R$ ' + ${item.valorTotal}"
									class="font-size-lg text-primary pt-2"></div>
							</div>
						</div>
						<div
							class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left"
							style="max-width: 10rem;">
							<div class="form-group mb-2">
								<label for="quantity1">Quantidade</label> <br> <span
									th:text="${item.quantidade}"></span>
							</div>

						</div>
					</div>

					<div class="col-xl-3 col-md-4 pt-3 pt-md-0 pull-right">
						</div>
						<hr>

					</div>
				</div>
			</div>


</section>
	
</body>
</html>