<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
    <title>Consulta dos seus pedidos</title>
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
    <div class="container">
        <br>
        <div class="titulo-consulta">
            <h1>Consulta dos pedidos</h1>
        </div>

        <div th:if="${msgSucesso != null}" th:text="${msgSucesso}" class="alert alert-success" role="alert"></div>


        <br>
        <table class="table table-borderless table-condensed">
            <thead class="bg-light">
            <tr>
                <th class="text-center">Numero do Pedido</th>
                <th class="text-center">Total do Pedido</th>
                <th class="text-center">Data da  Compra</th>
                <th class="text-center">Forma de pagamento</th>
                <th class="text-center">Status</th>
            </tr>
            </thead>
            <tbody th:if="${listPedidos != null}">
            <tr th:each="pedidos, stat: ${listPedidos}">
            <td class="text-center" th:text="${pedidos.numeroPedido}" />
            <td class="text-center" th:text="${pedidos.totalPedido}" />
            <td class="text-center" th:text="${pedidos.dtCompra}" />
            <td class="text-center" th:text="${pedidos.formaPagamento}" />
            <td class="text-center" th:text="${pedidos.status}"/>
                <td class="text-center">
                    <form

                          th:action="@{/consultarPedido/} + ${pedidos.idPedido}"
                          th:method="get">
                        <button class="btn btn-outline-info btn-sm" type="submit"
                                value="submit">Detalhes</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

    </section>

</body>
</html>