<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
	
	<title>Usuários</title>


	<script type="text/javascript">
  
		function ValidateNomeLenght() {
		  var nome = document.getElementById("username").value;
		  if (nome.length < 5) {
			alert("Nome inválido!");
			return false;
		  }
		  return true;
		}
		
		function ValidateForm() {
  
		  if (ValidatePassword() && ValidateNomeLenght()) {
			return true;
		  }
		  return false;
		}
		
	  </script>


</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
      <div class="container">
        <h1 class="display-4" style="margin-top: 3rem">Alterar Usuário</h1>
        <form action="#" th:object="${usuario}" th:action="@{/administrativo/} + ${usuario.id_usuario}" th:method="put">
          <div class="form-group">
            <label for="text">Username:</label>
            <input type="text" class="form-control w-50" placeholder="Digite o nome" th:field="*{username}" id="username">
          </div>
          <div class="form-group">
            <label for="text">Email:</label>
            <input type="email" class="form-control" placeholder="Digite o email" th:field="*{email}" id="email" disabled>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="text">Senha:</label>
                <input type="password" class="form-control" placeholder="Digite a senha" th:field="*{password}" id="password" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="select">Selecione o Cargo:</label>
            <select class="form-control w-50" th:field="*{role}" id="role" required>
              <option value="administrador">administrador</option>
              <option value="estoquista">estoquista</option>
            </select>
          </div>

          <hr>

          <div class="form-group">
            <button type="submit" value="submit" class="btn btn-outline-success">Alterar</button>

        </form>
      </div>
	</section>
  
	</body>
	</html>