<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">
			<br>
			<div class="titulo-consulta">
				<h1>Consulta de Usuários</h1>
			</div>

			<div
				th:class="${#strings.isEmpty(message)} ?
  'panel panel-default' : 'panel panel-success'">

				<div class="panel-heading">
					<span th:text="${#strings.isEmpty(message)} ? '' : ${message}">
					</span>
				</div>


				<!--código omitido-->


				<br>
				<div style="text-align: right">
					<a href="/administrativo/Novo" class="btn btn-success">Adicionar
						Usuário</a>
				</div>

				<table class="table table-borderless table-condensed">
					<thead class="bg-light">
						<tr>
							<th class="text-center">Nome</th>
							<th class="text-center">E-mail</th>
							<th class="text-center">Função</th>
							<th class="text-center" colspan="2">Ações</th>
						</tr>
					</thead>
					<tr th:each="u: ${usuarios}">
						<td class="text-center" th:text="${u.username}" />
						<td class="text-center" th:text="${u.email}" />
						<td class="text-center" th:text="${u.role}" />
						<td class="text-center">
							<form action="#"
								th:action="@{/administrativo/} + ${u.id_usuario}"
								th:method="get">
								<button class="btn btn-outline-info btn-sm" type="submit"
									value="submit">Atualizar</button>
							</form>
						</td>
						<td class="text-center">
							<form action="#" th:action="${'/administrativo/' + u.id_usuario}"
								th:method="delete">
								<button class="btn btn-outline-danger btn-sm" type="submit"
									value="submit">Excluir</button>
							</form>
						</td>
					</tr>
				</table>

			</div>
		</section>
</body>
</html>
