<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>	
	<script type="text/javascript">
      function ValidateNomeLenght() {
        var username = form1.username.value;
        if (username.length < 5) {
          alert("Usuário inválido! Digite o usuário com mais que 5 caracteres");
          form1.username.focus();
          
          return false;
        }
        return true;
      }
      
    </script>
	
	
</head>
<body>

    <section class="layout-content" layout:fragment="corpo">
      <div class="container">
        <h1 class="display-4" style="margin-top: 3rem">Novo Usuário</h1>
        <form name="form1" action="#" th:action="@{/administrativo/Novo}" th:object="${usuario}" method='POST' onsubmit="return validateNomeLenght()">
          <div class="form-group">
            <label for="text">Usuário:</label>
            <input type="text" class="form-control w-50" placeholder="Digite o nome" th:field="*{username}" id="username" required>
          </div>
          <div class="form-group">
            <label for="text">Email:</label>
            <input type="email" class="form-control" placeholder="Digite o email" th:field="*{email}" id="email" required>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="text">Senha:</label>
                <input type="password" class="form-control" placeholder="Digite a senha" th:field="*{password}" id="password" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="select">Selecione o Cargo:</label>
            <select class="form-control w-50" th:field="*{role}" id="role" required>
              <option value="administrador">administrador</option>
              <option value="estoquista">estoquista</option>
            </select>
          </div>

          <hr>

          <div class="form-group">
            <button type="submit" value="submit" onclick="return ValidateNomeLenght()" class="btn btn-outline-success">Cadastrar</button>
            <button class="btn btn-outline-info" type="reset" value="reset">Resetar</button>

        </form>
      </div>
	</section>
  </body>
</html>