<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
<meta http-equiv="Contet-Type" content="text/html: charset=UTF-8" />
<meta name="viewport" content="width-devide-width" />
<title>Login</title>
</head>
<body>

<center>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Erro!</div>
    <div class="card-body">
        <h5 class="card-title">Acesso Negado </h5>
        <p class="card-text">Seu acesso foi bloqueado. Por favor clique em <a href="/logout">Sair</a> para deslogar </p>
    </div>
    </div>
</center>

</body>
</html>
