<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
	<head>
	<title>Home</title>
	</head>
	<body>
		<section class="layout-content" layout:fragment="corpo">
			<div class="row">
					<!--Card 1-->
					<div class="col-sm"  th:each="produto : ${listaProdutos}">
						<div class="card card-cascade card-ecommerce wider shadow mb-5 ">
							<!--Card image-->
							<div id ='conteudo' class="view view-cascade overlay text-center"> <img class="card-img-top" th:src="@{/viewImagem/{imagem}(imagem=${produto.endereco_imagem})}" alt=""> <a>
								<div class="mask rgba-white-slight"></div>
							</a> </div>
							<!--Card Body-->
							<div class="card-body card-body-cascade text-center">
								<!--Card Title-->
								<h4 class="card-title"><strong><a href="#" th:text="${produto.descricao}"></a></strong></h4>
								<!-- Card Description-->
								<p class="card-text" th:text="${produto.descricao_detalhada}"></p>
								<p class="price" th:text="'R$ ' + ${produto.preco_venda}"></p>
								<!-- Card Rating-->
								<ul class="row rating">
									<li><i class="fa fa-star checked"></i></li>
									<li><i class="fa fa-star checked"></i></li>
									<li><i class="fa fa-star checked"></i></li>
									<li><i class="fa fa-star checked"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<!--Card footer-->
								<div class="card-footer">
									<a th:href = "@{/adicionarCarrinho/{id_produto}(id_produto=${produto.id_produto})}" role="button">Adicionar ao Carrinho</a>
								</div>
							</div>
						</div>
					</div>
					
					</div>
		</section>

	</body>
	</html>
